$main-brown: #61412e;
$accent-brown: #b77844;
$footer-brown: #5a4531;
$light-bg: #f5f2ee;
$grey-font: rgb(202 201 201);
$sec2-title-color: #464547;
$sec2-subtitle-color: #666;
$heading-font: 'Nerko One';
$body-font: 'Source Sans 3';
$oswald-font: 'Oswald';
$subheading-font: 'Poppins';
