@use 'utilities/variables';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: variables.$body-font;
  background: #fff;

  a {
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (width >= 769px) {
  @import 'desktop';
}

@media screen and (width <= 768px) {
  @import 'mobile';
}
